$color-black: #000;
$color-white: #FFF;

.search-container {
  margin: 60px 50px 10px 50px;
  label {
    color: #212529;
  }

  &.light {
    color: $color-black;
  }
  &.dark {
    color: $color-white;
  }

  .search-header {
    font-family: 'Merriweather Sans', sans-serif;
    
    &.light {
      color: $color-black;
    }
    &.dark {
      color: $color-white;
    }
  }

  .search-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 720px;
  }
}

@media (max-width: 576px) {
  .search-header {
    font-size: 16px;
  }
}