@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide {
  display: flex;
  justify-content: center;

  .slick-slider {
    max-width: 1000px;
    width: 100%;
  
    .item {
      display: flex !important;
      justify-content: center;
    }
  }

  h3 {
    width: 300px;
    height: 150px;
    background-color: #000;
  }
}