@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

$color-black: #000;

.slide {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 0 30px;

  .slick-slider {
    width: 100%;
  
    .slick-arrow {
      background-color: $color-black;
      height: 150px;
      opacity: 0.5;
    }

    .slick-list {
      padding: 0 !important;

      .item-container {
        display: flex !important;
        justify-content: center;
      }
  
      .item {
        width: 400px;
        height: 150px;
        background-color: #000;
    
        background-repeat: no-repeat !important;
        background-size: cover !important;    
      }  
    }
  }
}